nav{
	margin: -8px 0;
	padding: 15px;
	height: 53px;
	background-color: #eee;
}
ul{
	list-style: none;
}
ul li{
	float: left;
	margin: 0 25px;
}
ul li a{
	text-decoration: none;
}
.timesearch{
	display: inline;
	margin-left: 50px;
}
form{
	margin: 16px 0;
}
.page{
	position: relative;
	top: -22px;
	left: 430px;
	margin: -22px 0px;
}