#bookOption{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#file{
    position: relative;
    top: 15px;
}
#search{
    align-self: flex-end;
}
#showInfo table{
    margin: auto;
}
#wrap{
    display: flex;
    justify-content: center;
}
