//body{}
// *{border: 0.5px solid rgb(0, 0, 0)}
.main{
	width: 1333px;
	display: flex;
	flex-wrap: nowrap;
	aside{
		margin-top: 20px;
		width: 300px;
		height: 653px;
		background-color: rgba(123,123,123,1.00);
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		.item{
			width: 140px;
			img{
				width: 100%;
                height: auto; 
			}
		}
		.sub-nav{
			padding-left: 80px;
			height: 25px;
			width: 100%;
			background-color: #F3F3F3;
			position: absolute;
			top:0px;
			left:0px;
			a{
				margin-right: 30px;
			}
			a:hover{
				img{
					background-color: rgb(223, 226, 173);
				}
			}
		}
	}
	.content{
		overflow: scroll;
		height: 653px;
		min-height: 300px;
		background-color: #4FE6ED;
		.slideshow{
			margin: 0px;
			padding: 0px;
			display: block;
			height: auto;
			position: relative;
			top: 0px;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}

