body{
  display: grid;
}
h1,h3{
  margin: 15px auto;
}
hr{
  width: 100%;
}
table{
  margin: 0 auto;
}
td{
  margin: 0;
  border: 1px solid #000;
}
p,span{
  display: inline;
  margin: 0 auto;
}
a{
  margin: 0 auto;
}
button{
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}
form>button{
  position: absolute;
  left: 50%;
  top: 380px;
  transform: translate(-50%, -50%);
}